
.error-area {
    background-color: #ffd8d8;
    padding: 5px;
    margin-bottom: 10px;
}

.error-area.show label {
    display: list-item;
    color: #be0f0f;
    margin-left: 20px;
}
label.error {
    display: list-item;
}

input.error {
    border: solid 1px red;
}

.error-area {
    color: red;
}
/*.spinner-border {*/
/*    width: 5rem;*/
/*    height: 5rem;*/
/*}*/
.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.error-area {
    color: red;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}
* {
    box-sizing: border-box;
}

.spinner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.spinner-sector {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 15px solid transparent;
    multiply: overlay;
}

.spinner-text {
    animation: loading-opacity 3s ease-in-out infinite;
    font-size: 2em;
}

.spinner-sector-blue {
    animation: rotate 2s ease-out infinite;
    border-top: 15px solid lightblue;
}

.spinner-sector-red {
    animation: rotate 2.5s ease-in infinite;
    border-top: 15px solid lightcoral;
}

.spinner-sector-green {
    animation: rotate 1.5s ease-in-out infinite;
    border-top: 15px solid lightgreen;
}

@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

@keyframes loading-opacity {
    0%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: .5;
    }
    50% {
        opacity: .1;
    }
}
.container-fluid {
    position: relative; /* Phần tử cha của loader */
}

.spinner.loader {
    position: absolute; /* Loader */
    top: 50%; /* Đặt top để nằm giữa dọc */
    left: 50%; /* Đặt left để nằm giữa ngang */
    transform: translate(-50%, -50%); /* Để căn giữa loader */
    display: none; /* Ẩn loader ban đầu */
}
