<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="/layout/dashboard_layout/head"/>
    <link rel="stylesheet" href="/assets/bootstrap/v.5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/preview-image.css">
    <link rel="stylesheet" href="/assets/iziToast/iziToast-1.4.0.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="g-sidenav-show  bg-gray-200">
<th:block th:replace="/layout/dashboard_layout/left-sidebar :: left-sidebar-product"/>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <th:block th:replace="/layout/dashboard_layout/navbar:: navbar-product"/>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div>
                    <button type="button" class="btn add" id="btnShowModalCreate">
                        <i class="material-icons opacity-10">add</i>
                        Add product
                    </button>
                </div>
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Product</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table table-hover align-items-center text-center mb-0 " id="tbProduct">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>Unit</th>
                                    <th>Category</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="row" id="scrollButton">
                            <nav id="paginationNav">
                                <ul class="pagination justify-content-center">
                                    <!-- Các nút phân trang sẽ được thêm vào đây -->
                                </ul>
                            </nav>
                        </div>
                        <div class="spinner loader">
                            <div class="spinner-sector spinner-sector-red"></div>
                            <div class="spinner-sector spinner-sector-blue"></div>
                            <div class="spinner-sector spinner-sector-green"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <th:block th:replace="/layout/dashboard_layout/footer"/>
</main>
<th:block th:replace="/layout/dashboard_layout/javascript"/>
<th:block th:replace="/dashboard/modal-create :: modal-create"></th:block>
<th:block th:replace="/dashboard/modal-update :: modal-update"></th:block>
<script src="/assets/jquery/jquery-3.7.0.min.js"></script>
<script src="/assets/jquery/jquery.validate.js"></script>
<script src="/assets/bootstrap/v.5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/assets/sweetalert2/sweetalert2.all.min.js"></script>
<script src="/assets/js/magnific-popup-1.1.0.js"></script>
<script src="/assets/js/app.js"></script>
<script>
    const page = {
        url: {
            getAllProducts: App.API_PRODUCT,
            getAllCategories: App.API_CATEGORY,
            create: App.API_CREATE_PRODUCT,
            update: App.API_UPDATE_PRODUCT,
            delete: App.API_DELETE_PRODUCT
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {},
            loadData: {}
        }
    }
    page.elements.tbProductBody = $('#tbProduct tbody')
    page.elements.loader = $(".loader");

    page.elements.btnShowModalCreate = $('#btnShowModalCreate');
    page.dialogs.elements.frmCreateProduct = $('#frmCreateProduct');
    page.dialogs.elements.modalCreate = $('#modalCreate')
    page.dialogs.elements.errorCreateArea = $('#modalCreate .modal-body .modal-alert-danger')
    page.dialogs.elements.titleCre = $('#titleCre')
    page.dialogs.elements.priceCre = $('#priceCre')
    page.dialogs.elements.unitCre = $('#unitCre')
    page.dialogs.elements.categoryCre = $('#categoryCre')
    page.dialogs.elements.btnCreate = $('#btnCreate')

    page.dialogs.elements.frmUpdateProduct = $('#frmUpdateProduct');
    page.dialogs.elements.modalUpdate = $('#modalUpdate')
    page.dialogs.elements.errorUpdateArea = $('#modalUpdate .modal-body .modal-alert-danger')
    page.dialogs.elements.titleUp = $('#titleUp')
    page.dialogs.elements.priceUp = $('#priceUp')
    page.dialogs.elements.unitUp = $('#unitUp')
    page.dialogs.elements.categoryUp = $('#categoryUp')
    page.dialogs.elements.btnUpdate = $('#btnUpdate')

    page.dialogs.elements.wrapper = $("section .wrapper");
    page.dialogs.elements.imageFileCreate = $("#imageFileCreate");
    page.dialogs.elements.imageFileUpdate = $("#imageFileUpdate");
    page.dialogs.elements.wrapperContent = $("section .wrapper .content");
    page.dialogs.elements.imagePreview = $("section .image-preview canvas");
    page.dialogs.elements.canvasCreate = $("#canvasCreate");
    page.dialogs.elements.canvasUpdate = $("#canvasUpdate");
    page.dialogs.elements.contextCreate = page.dialogs.elements.canvasCreate[0].getContext('2d');
    page.dialogs.elements.contextUpdate = page.dialogs.elements.canvasUpdate[0].getContext('2d');
    page.dialogs.elements.imagePreview.css("display", "none");
    page.dialogs.elements.divImagePreviewCreate = $("#modalCreate div.image-preview, #modalCreate div.file-name");
    page.dialogs.elements.divImagePreviewUpdate = $("#modalUpdate div.image-preview, #modalUpdate div.file-name");
    page.dialogs.elements.btnClearImagePreview = $(".clear-image-preview i");

    page.elements.sortByPrice = $('#sortByPrice');
    page.elements.keySearch = $('#keySearch');
    page.elements.pagination = $('.pagination')
    let productId = 0;
    let product = new Product();
    let currentPage = 0;
    let keySearch = "";
    function showLoader() {
        page.elements.loader.css('display', 'block');
    }
    function hideLoader() {
        page.elements.loader.css('display', 'none');
    }
    // Hiển thị loading spinner trong modal
    function showModalLoading() {
        $("#modalLoadingOverlay").show();
    }
    // Ẩn loading spinner trong modal
    function hideModalLoading() {
        $("#modalLoadingOverlay").hide();
    }
    page.commands.renderProduct = (product) => {
        avatar = product.productAvatar;
        let imageThumbnail = (avatar && avatar.fileFolder && avatar.fileName) ?
            App.BASE_URL_CLOUD_IMAGE + "/" + App.IMAGE_SCALE_W_100_h_80_Q_90 + "/" + avatar.fileFolder + "/" + avatar.fileName :
            '';
        let prices = product.price.toLocaleString('vi', {style: 'currency', currency: 'VND'});
        return `
                <tr>
                    <td>${product.id}</td>
                    <td><img src="${imageThumbnail}" alt="" /></td>
                    <td>${product.title}</td>
                    <td>${prices}</td>
                    <td>${product.unit.title}</td>
                    <td>${product.category.title}</td>
                    <td>
                        <button class="btn btn-outline-secondary edit" data-id="${product.id}">
                            <i class="fas fa-user-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger delete" data-id="${product.id}" >
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            `
    }
    document.getElementById("scrollButton").addEventListener("click", function() {
        const targetElement = document.getElementById("targetElement");
        if (targetElement) {
            targetElement.scrollIntoView({ behavior: "smooth" });
        }
    });
    page.commands.displayPagination = (totalPages, currentPage) => {
        page.elements.pagination.empty();
        const maxVisiblePages = 2;
        const ellipsis = '<li class="page-item disabled"><a class="page-link" href="#">...</a></li>';

        let firstBtn = '<li class="page-item' + (currentPage === 1 ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllProduct(0, 10, keySearch)">First</a></li>';
        page.elements.pagination.append(firstBtn);

        let previousBtn = '<li class="page-item' + (currentPage === 1 ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllProduct(' + (currentPage - 2) + ', 10, keySearch)"><</a></li>';
        page.elements.pagination.append(previousBtn);

        if (totalPages <= maxVisiblePages) {
            for (let i = 1; i <= totalPages; i++) {
                let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllProduct(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                page.elements.pagination.append(pageBtn);
            }
        } else {
            if (currentPage <= maxVisiblePages - 1) {
                for (let i = 1; i <= maxVisiblePages; i++) {
                    let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllProduct(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                    page.elements.pagination.append(pageBtn);
                }
                page.elements.pagination.append(ellipsis);
            } else if (currentPage >= totalPages - maxVisiblePages + 1) {
                page.elements.pagination.append(ellipsis);
                for (let i = totalPages - maxVisiblePages + 1; i <= totalPages; i++) {
                    let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllProduct(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                    page.elements.pagination.append(pageBtn);
                }
            } else {
                page.elements.pagination.append(ellipsis);
                for (let i = currentPage - 1; i <= currentPage + 1; i++) {
                    let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllProduct(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                    page.elements.pagination.append(pageBtn);
                }
                page.elements.pagination.append(ellipsis);
            }
        }

        let nextBtn = '<li class="page-item' + (currentPage === totalPages ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllProduct(' + (currentPage) + ', 10, keySearch)">></a></li>';
        page.elements.pagination.append(nextBtn);

        let lastBtn = '<li class="page-item' + (currentPage === totalPages ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllProduct(' + (totalPages - 1) + ', 10, keySearch)">Last</li>';
        page.elements.pagination.append(lastBtn);
    };

    page.commands.getAllProduct = (pageProduct,pageSize,keySearch) => {
        currentPage = pageProduct;
        showLoader();
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: 'GET',
            url: page.url.getAllProducts+`?page=${pageProduct}&size=${pageSize}&search=${keySearch}`,
            data: {
                keySearch: keySearch
            }
        })
            .done((data) => {
                console.log(data)
                page.elements.tbProductBody.empty();
                $.each(data.content, (index, product) => {
                    const str = page.commands.renderProduct(product)
                    page.elements.tbProductBody.prepend(str)
                })
                page.commands.displayPagination(data.totalPages, data.number + 1);
            })
            .fail(function () {
                App.SweetAlert.showErrorAlert(App.AlertMessageVi.ERROR_404);
            })
            .always(function () {
                hideLoader();
            });
    }
    page.commands.getProductById = (productId) => {
        return $.ajax({
            type: 'GET',
            url: page.url.getAllProducts + '/' + productId
        });
    }
    page.commands.getCategories = () => {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: 'GET',
            url: page.url.getAllCategories,
        })
            .done((data) => {
                console.log(data)
                page.dialogs.elements.categoryCre.empty();
                page.dialogs.elements.categoryUp.empty();
                $.each(data, function (index, item) {
                    page.dialogs.elements.categoryCre.append($('<option>').val(item.id).text(item.title));
                    page.dialogs.elements.categoryUp.append($('<option>').val(item.id).text(item.title));
                })
            })
            .fail((jqXHR, textStatus, errorThrown) => {
                console.log('Error: ' + textStatus + ' ' + errorThrown);
            })
    }
    page.dialogs.commands.loadImageToCanvas = (imageFile, fileType, imageUrl) => {
        page.dialogs.elements.imagePreview.css("display", "");
        page.dialogs.elements.wrapper.addClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 0);
        let imageObj = new Image();
        imageObj.onload = function () {
            page.dialogs.elements.contextCreate.canvas.width = imageObj.width;
            page.dialogs.elements.contextCreate.canvas.height = imageObj.height;
            page.dialogs.elements.contextCreate.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
        };
        if (fileType === "BINARY") {
            imageObj.src = URL.createObjectURL(imageFile);
        } else {
            imageObj.src = imageUrl;
        }
    }
    page.dialogs.commands.loadImageToCanvasUpdate = (imageFile, fileType, imageUrl) => {
        page.dialogs.elements.imagePreview.css("display", "");
        page.dialogs.elements.wrapper.addClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 0);
        let imageObj = new Image();
        imageObj.onload = function () {
            page.dialogs.elements.contextUpdate.canvas.width = imageObj.width;
            page.dialogs.elements.contextUpdate.canvas.height = imageObj.height;
            page.dialogs.elements.contextUpdate.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
        };
        if (fileType === "BINARY") {
            imageObj.src = URL.createObjectURL(imageFile);
        } else {
            imageObj.src = imageUrl;
        }
    }
    page.commands.changeImagePreviewCreate = () => {
        let imageFile = page.dialogs.elements.imageFileCreate[0].files[0];
        if (imageFile) {
            let reader = new FileReader();
            reader.readAsDataURL(imageFile);
            reader.onload = function (e) {
                if (e.target.readyState === FileReader.DONE) {
                    page.dialogs.commands.loadImageToCanvas(imageFile, "BINARY", null);
                }
            }
        } else {
            page.dialogs.elements.clearImagePreview();
        }
    }
    page.commands.changeImagePreviewUpdate = () => {
        let imageFile = page.dialogs.elements.imageFileUpdate[0].files[0];
        if (imageFile) {
            let reader = new FileReader();
            reader.readAsDataURL(imageFile);
            reader.onload = function (e) {
                if (e.target.readyState === FileReader.DONE) {
                    page.dialogs.commands.loadImageToCanvasUpdate(imageFile, "BINARY", null);
                }
            }
        } else {
            page.dialogs.elements.clearImagePreview();
        }
    }
    page.commands.handleImagePopup = () => {

        $('.image-popup-vertical-fit').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-img',
            image: {
                verticalFit: true
            },
            gallery: {
                enabled: true
            }
        });

        $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
            disableOn: 700,
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,
            fixedContentPos: false
        });
    }
    page.commands.clearForm = () => {
        $('.btnClose').on('click', () => {
            page.dialogs.elements.clearImagePreview();

            $("#modalCreate .modal-alert-danger").removeClass("show").addClass("hide").empty();
            $("#frmCreateProduct input.error").removeClass("error");
            page.dialogs.elements.frmCreateProduct.trigger("reset");

            $("#modalUpdate .modal-alert-danger").removeClass("show").addClass("hide").empty();
            $("#frmUpdateProduct input.error").removeClass("error");
            page.dialogs.elements.frmUpdateProduct.trigger("reset");
        })
    }
    page.commands.createProduct = () => {
        showLoader();
        page.dialogs.elements.btnCreate.prop('disabled', true);

        let formData = new FormData();
        formData.append("title", page.dialogs.elements.titleCre.val().toString());
        formData.append("price", page.dialogs.elements.priceCre.val().toString());
        formData.append("unitId", page.dialogs.elements.unitCre.val());
        formData.append("categoryId", page.dialogs.elements.categoryCre.val());
        formData.append("productAvatar", page.dialogs.elements.imageFileCreate[0].files[0]);

        $.ajax({
            type: "POST",
            contentType: false,
            cache: false,
            processData: false,
            url: page.url.create,
            data: formData
        }).done((data) => {
            // const avatar = data.productAvatar;
            const str = page.commands.renderProduct(data);
            page.elements.tbProductBody.prepend(str)
            page.dialogs.elements.modalCreate.modal('hide');
            page.commands.handleImagePopup();
            App.SweetAlert.showSuccessAlert("Thêm mới thành công")
        }).fail(() => {
            App.SweetAlert.showErrorAlert("Ảnh không được bỏ trống.Vui lòng upload ảnh!!!");
            hideModalLoading();
            hideLoader();
            // App.SweetAlert.showErrorAlert(error.responseJSON.message);
            console.log(err)
        }).always(function () {
            hideLoader();
            page.dialogs.elements.btnCreate.prop('disabled', false);
        });
    }
    page.commands.showModalUpdate = (productId) => {

        page.commands.getProductById(productId).then((data) => {
            product = data;
            console.log(product)
            avatar = product.productAvatar;

            page.dialogs.elements.titleUp.val(product.title);
            page.dialogs.elements.priceUp.val(product.price);
            page.dialogs.elements.unitUp.val(product.unit.id);
            page.dialogs.elements.categoryUp.val(product.category.id);
            page.dialogs.commands.loadImageToCanvasUpdate(null, "", avatar.fileUrl);
            page.dialogs.elements.modalUpdate.modal('show');
            page.dialogs.elements.errorUpdateArea.empty();
        })

    }
    page.dialogs.commands.updateProduct = () => {
        showLoader();
        page.dialogs.elements.btnUpdate.prop('disabled', true);
        let formData = new FormData();
        formData.append("title", page.dialogs.elements.titleUp.val().toString());
        formData.append("price", page.dialogs.elements.priceUp.val().toString());
        formData.append("unitId", page.dialogs.elements.unitUp.val().toString());
        formData.append("categoryId", page.dialogs.elements.categoryUp.val());
        if (page.dialogs.elements.imageFileUpdate[0].files[0] != null) {
            formData.append("productAvatar", page.dialogs.elements.imageFileUpdate[0].files[0]);
        }
        $.ajax({
            type: "PATCH",
            contentType: false,
            cache: false,
            processData: false,
            url: page.url.update + '/' + productId,
            data: formData
        }).done((data) => {
            const str = page.commands.renderProduct(data);
            const currentRow = $('#tr_' + productId);
            currentRow.replaceWith(str);
            App.SweetAlert.showSuccessAlert("Cập nhật thành công")
            page.commands.getAllProduct(currentPage,10,keySearch);
            page.dialogs.elements.modalUpdate.modal('hide');
        }).fail((err) => {
            App.SweetAlert.showErrorAlert(err.responseJSON.message);
        }).always(function () {
            hideLoader();
            page.dialogs.elements.btnUpdate.prop('disabled', false);
        });
    }
    page.commands.showDeleteConfirm = () => {
        App.SweetAlert.showDeleteConfirmDialog("Bạn có muốn xóa sản phẩm này không")
            .then((result) => {
                if (result.isConfirmed) {
                    page.commands.deleteProduct();
                }
            });
    }
    page.commands.deleteProduct = () => {
        showLoader();
        $.ajax({
            type: "DELETE",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: page.url.delete + '/' + productId
        }).done((data) => {
            App.SweetAlert.showSuccessAlert("Xoá sản phẩm thành công");
            $("#tr_" + product.id).remove();
            page.commands.handleImagePopup();
            if($("#tbProduct tbody tr").length > 1){
                page.commands.getAllProduct(currentPage,10,keySearch);
            }else{
                page.commands.getAllProduct(currentPage - 1,10,keySearch);
            }
        }).fail(function (jqXHR) {
            App.SweetAlert.showErrorAlert(jqXHR.responseJSON.message);
        }).always(function () {
            hideLoader();
        });
    }

    page.initializeControlEvent = () => {
        page.elements.btnShowModalCreate.on('click', () => {
            page.dialogs.elements.modalCreate.modal('show');
        })
        page.dialogs.elements.btnCreate.on('click', () => {
            page.dialogs.elements.frmCreateProduct.trigger("submit");
        })
        page.dialogs.elements.divImagePreviewCreate.on("click", function () {
            page.dialogs.elements.imageFileCreate.trigger("click");
        });
        page.dialogs.elements.divImagePreviewUpdate.on("click", function () {
            page.dialogs.elements.imageFileUpdate.trigger("click");
        });
        page.dialogs.elements.imageFileCreate.on("change", function () {
            page.commands.changeImagePreviewCreate();
        });
        page.dialogs.elements.imageFileUpdate.on("change", function () {
            page.commands.changeImagePreviewUpdate();
        });
        page.elements.tbProductBody.on('click', '.edit', function () {
            productId = $(this).data('id');
            page.commands.showModalUpdate(productId);
        })

        page.dialogs.elements.btnUpdate.on('click', () => {
            page.dialogs.elements.frmUpdateProduct.trigger("submit");
        })

        page.elements.tbProductBody.on("click", ".delete", function () {
            productId = $(this).data('id');
            page.commands.showDeleteConfirm(productId);
        });
        page.dialogs.elements.clearImagePreview = () => {
            page.dialogs.elements.imageFileCreate.val("");
            page.dialogs.elements.imageFileUpdate.val("");
            page.dialogs.elements.imagePreview.css("display", "none");
            page.dialogs.elements.wrapper.removeClass("active");
            page.dialogs.elements.wrapperContent.css("opacity", 1);
        }

        page.dialogs.elements.btnClearImagePreview.on("click", function () {
            page.dialogs.elements.clearImagePreview();
        });

        page.commands.closeModalCreate = () => {
            page.dialogs.elements.frmCreateProduct[0].reset();
            page.dialogs.elements.frmCreateProduct.validate().resetForm();
            page.dialogs.elements.frmCreateProduct.find("input.error").removeClass("error");
            page.dialogs.elements.errorCreateArea.empty().removeClass("show").addClass("hide");
            page.dialogs.elements.clearImagePreview();
        }

        page.dialogs.elements.modalCreate.on("hidden.bs.modal", function () {
            page.commands.closeModalCreate();
        });

        page.elements.keySearch.on('input', function () {
            const keySearch = $(this).val();
            page.commands.getAllProduct(0,10,keySearch);

        })

        page.elements.sortByPrice.on('click', function () {
            if ($(this).hasClass('asc')) {
                $(this).addClass('desc').removeClass('asc');
            } else {
                if ($(this).hasClass('desc')) {
                    $(this).addClass('asc').removeClass('desc');
                }
            }
            const direction = $(this).hasClass('asc') ? 'asc' : 'desc';
            const sortBy = 'price';
            page.commands.getAllProductSorted(sortBy, direction);

        })

    }

    page.loadData = () => {
        page.commands.getAllProduct(currentPage,10,keySearch);
        page.commands.getCategories();
    }
    $(() => {
        page.loadData();
        page.initializeControlEvent();
    })
</script>
<script src="/assets/js/product-validation.js"></script>

</body>
</html>