<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="/layout/dashboard_layout/head"/>
    <link rel="stylesheet" href="/assets/bootstrap/v.5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/preview-image.css">
    <link rel="stylesheet" href="/assets/iziToast/iziToast-1.4.0.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="g-sidenav-show  bg-gray-200">
<th:block th:replace="/layout/dashboard_layout/left-sidebar :: left-sidebar-table"/>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <th:block th:replace="/layout/dashboard_layout/navbar:: navbar-table"/>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="col-sm-8">
                    <button type="button" class="btn add" id="btnShowModalCreate">
                        <i class="material-icons opacity-10">add</i>
                        Add Table
                    </button>
                </div>
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Table Order</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center text-center mb-0" id="tbTableOrder">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Table</th>
                                    <th>Zone</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <nav id="paginationNav">
                                <ul class="pagination justify-content-center">
                                    <!-- Các nút phân trang sẽ được thêm vào đây -->
                                </ul>
                            </nav>
                        </div>
                        <div class="spinner loader">
                            <div class="spinner-sector spinner-sector-red"></div>
                            <div class="spinner-sector spinner-sector-blue"></div>
                            <div class="spinner-sector spinner-sector-green"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <th:block th:replace="/layout/dashboard_layout/footer"/>
</main>

<th:block th:replace="/layout/dashboard_layout/javascript"/>
<th:block th:replace="/dashboard/modal-create-table :: modal-create-table"></th:block>

<script src="/assets/jquery/jquery-3.7.0.min.js"></script>
<script src="/assets/jquery/jquery.validate.js"></script>
<script src="/assets/bootstrap/v.5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/assets/sweetalert2/sweetalert2.all.min.js"></script>
<script src="/assets/js/magnific-popup-1.1.0.js"></script>
<script src="/assets/js/app.js"></script>
<script>
    const page = {
        url: {
            getAllTableOrder: App.API_TABLE_ORDER,
            create: App.API_TABLE_ORDER + "/create"
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {},
            loadData: {}
        }
    }
    page.elements.tbTableOrderBody = $('#tbTableOrder tbody')
    page.elements.loader = $(".loader");

    page.elements.btnShowModalCreate = $('#btnShowModalCreate');
    page.dialogs.elements.frmCreateTable = $('#frmCreateTable');
    page.dialogs.elements.modalCreate = $('#modalCreate')
    page.dialogs.elements.errorCreateArea = $('#modalCreate .modal-body .modal-alert-danger')
    page.dialogs.elements.titleCre = $('#titleCre')
    page.dialogs.elements.zoneCre = $('#zoneCre')
    page.dialogs.elements.btnCreate = $('#btnCreate')
    page.elements.keySearch = $('#keySearch');
    page.elements.pagination = $('.pagination')

    let currentPage = 0;
    let keySearch = "";
    page.commands.renderTableOrder = (tableOrder) => {
        return `
                <tr>
                    <td>${tableOrder.id}</td>
                    <td>${tableOrder.title}</td>
                    <td>${tableOrder.zone.title}</td>
                    <td>${tableOrder.status}</td>
                </tr>
            `
    }

    function showLoader() {
        page.elements.loader.css('display', 'block');
    }

    function hideLoader() {
        page.elements.loader.css('display', 'none');
    }

    page.commands.displayPagination = (totalPages, currentPage) => {
        page.elements.pagination.empty();
        const maxVisiblePages = 2;
        const ellipsis = '<li class="page-item disabled"><a class="page-link" href="#">...</a></li>';

        let firstBtn = '<li class="page-item' + (currentPage === 1 ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllTableOrder(0, 10, keySearch)">First</a></li>';
        page.elements.pagination.append(firstBtn);

        let previousBtn = '<li class="page-item' + (currentPage === 1 ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllTableOrder(' + (currentPage - 2) + ', 10, keySearch)"><</a></li>';
        page.elements.pagination.append(previousBtn);

        if (totalPages <= maxVisiblePages) {
            for (let i = 1; i <= totalPages; i++) {
                let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllTableOrder(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                page.elements.pagination.append(pageBtn);
            }
        } else {
            if (currentPage <= maxVisiblePages - 1) {
                for (let i = 1; i <= maxVisiblePages; i++) {
                    let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllTableOrder(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                    page.elements.pagination.append(pageBtn);
                }
                page.elements.pagination.append(ellipsis);
            } else if (currentPage >= totalPages - maxVisiblePages + 1) {
                page.elements.pagination.append(ellipsis);
                for (let i = totalPages - maxVisiblePages + 1; i <= totalPages; i++) {
                    let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllTableOrder(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                    page.elements.pagination.append(pageBtn);
                }
            } else {
                page.elements.pagination.append(ellipsis);
                for (let i = currentPage - 1; i <= currentPage + 1; i++) {
                    let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllTableOrder(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                    page.elements.pagination.append(pageBtn);
                }
                page.elements.pagination.append(ellipsis);
            }
        }

        let nextBtn = '<li class="page-item' + (currentPage === totalPages ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllTableOrder(' + (currentPage) + ', 10, keySearch)">></a></li>';
        page.elements.pagination.append(nextBtn);

        let lastBtn = '<li class="page-item' + (currentPage === totalPages ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllTableOrder(' + (totalPages - 1) + ', 10, keySearch)">Last</li>';
        page.elements.pagination.append(lastBtn);
    };


    page.commands.getAllTableOrder = (pageTable,pageSize,keySearch) => {
        showLoader();
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: 'GET',
            url: page.url.getAllTableOrder+`?page=${pageTable}&size=${pageSize}&search=${keySearch}`,
            data: {
                keySearch: keySearch
            }
        })
            .done((data) => {
                console.log(data)
                page.elements.tbTableOrderBody.empty();
                $.each(data.content, (index, item) => {
                    const str = page.commands.renderTableOrder(item)
                    page.elements.tbTableOrderBody.prepend(str)
                })
                page.commands.displayPagination(data.totalPages, data.number + 1);

            })
            .fail(function () {
                App.SweetAlert.showErrorAlert(App.AlertMessageVi.ERROR_404);
            })
            .always(function () {
                hideLoader();
            });
    }

    page.commands.create = () => {
        const title = page.dialogs.elements.titleCre.val();
        const zone = page.dialogs.elements.zoneCre.val();
        const data = {
            title: title,
            zoneId: zone
        };
        showLoader();
        $.ajax({
            type: 'POST',
            url: page.url.create,
            contentType: 'application/json',
            data: JSON.stringify(data)
        })
            .done(() => {
                App.SweetAlert.showSuccessAlert("Thêm mới thành công", function () {
                    page.dialogs.elements.modalCreate.modal('hide');
                });
            })
            .fail(function () {
                App.SweetAlert.showErrorAlert(App.AlertMessageVi.ERROR_404);
            })
            .always(function () {
                hideLoader();
            });
    }




    page.initializeControlEvent = ()=> {
        page.elements.btnShowModalCreate.on('click', () => {
            page.dialogs.elements.modalCreate.modal('show');
        })
        page.dialogs.elements.btnCreate.on('click', () => {
            page.dialogs.elements.frmCreateTable.trigger("submit");
        })
        page.commands.closeModalCreate = () => {
            page.dialogs.elements.frmCreateTable[0].reset();
            page.dialogs.elements.frmCreateTable.validate().resetForm();
            page.dialogs.elements.frmCreateTable.find("input.error").removeClass("error");
            page.dialogs.elements.errorCreateArea.empty().removeClass("show").addClass("hide");
        }
        page.dialogs.elements.modalCreate.on("hidden.bs.modal", function () {
            page.commands.closeModalCreate();
            page.commands.getAllTableOrder(0, 10, keySearch);
        });

        page.elements.keySearch.on('input', function () {
            const keySearch = $(this).val();
            page.commands.getAllTableOrder(0,10,keySearch);

        })
    }
    page.loadData = () => {
        page.commands.getAllTableOrder(0,10,keySearch);
    }
    $(() => {
        page.loadData();
        page.initializeControlEvent();
    })
    page.dialogs.elements.frmCreateTable.validate({
        rules: {
            titleCre: {
                required: true,
            },
            zoneCre: {
                required: true,
            }

        },
        messages: {
            titleCre: {
                required: "Vui lòng nhập số bàn",
            },
            zoneCre: {
                required: "Vui lòng nhập số tầng "
            }


        },
        errorLabelContainer: "#modalCreate .modal-alert-danger",
        errorPlacement: function (error, element) {
            error.appendTo("#modalCreate .modal-alert-danger");
        },
        showErrors: function (errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                $("#modalCreate .modal-alert-danger").removeClass("hide").addClass("show");
            } else {
                $("#modalCreate .modal-alert-danger").removeClass("show").addClass("hide").empty();
                $("#frmCreateStaff input.error").removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: function () {
            page.commands.create();
        }


    })
</script>
</body>
</html>