<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="/layout/dashboard_layout/head"/>
    <link rel="stylesheet" href="/assets/bootstrap/v.5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/iziToast/iziToast-1.4.0.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="g-sidenav-show  bg-gray-200">
<th:block th:replace="/layout/dashboard_layout/left-sidebar :: left-sidebar-bill"/>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <th:block th:replace="/layout/dashboard_layout/navbar:: navbar-bill"/>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Bill</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table table-hover align-items-center text-center mb-0 " id="tbBill">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Table</th>
                                    <th>Date of payment</th>
                                    <th>Cashier</th>
                                    <th>Total Money</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="4" style="text-align: center"> Tổng doanh thu </th>
                                    <th><span id="totalAmountRevenue"></span></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row" id="body-foot">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <th:block th:replace="/layout/dashboard_layout/footer"/>
</main>

<th:block th:replace="/layout/dashboard_layout/javascript"/>
<th:block th:replace="/dashboard/modal-bill-detail :: modal-bill-detail"></th:block>

<script src="/assets/jquery/jquery-3.7.0.min.js"></script>
<script src="/assets/jquery/jquery.validate.js"></script>
<script src="/assets/bootstrap/v.5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/assets/sweetalert2/sweetalert2.all.min.js"></script>
<script src="/assets/js/magnific-popup-1.1.0.js"></script>
<script src="/assets/js/app.js"></script>

<script>
    const page = {
        urls: {
            getAllBill: App.API_BILL+ '/get-all',
            getAllBillDetailsByBill : App.API_BILL,
            getSearchBillDay: App.API_BILL + "/date"

        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            loadData: {},
            commands: {},
        }
    }

    let currentPageNumber = 0;
    let paid;
    let billTo;
    let billFrom;


    page.dialogs.elements.btnBillDetail = $('.btn-bill-detail')
    page.dialogs.elements.mdBillDetail = $('#mdBillDetail')
    page.dialogs.elements.tbBillDtail = $('#tbBillDetail tbody')
    page.dialogs.elements.btnCloseMdBillDetail = $('#btnCloseMdBillDetail')

    page.elements.tbOrder = $("#tbBill");
    page.elements.tbOrderBody = $("#tbBill tbody");
    page.elements.dayStartOrder = $("#dayStartOrder");
    page.elements.dayEndOrder = $("#dayEndOrder");
    page.elements.btnViewOrder = $("#btnViewOrder");
    page.elements.billPaid = $("#billPaid")
    page.elements.loader = $(".bg-loading");
    page.elements.totalAmountRevenue = $('#totalAmountRevenue')

    page.dialogs.elements.day = $('#day')
    page.dialogs.elements.month = $('#month')
    page.dialogs.elements.year = $('#year')
    page.dialogs.elements.btnSearchDay =$('#btnSearchDay')

    page.dialogs.commands.getAllBills = () => {
        page.commands.showLoading();
        paid = page.elements.billPaid.val();
        billFrom = page.elements.dayStartOrder.val();
        billTo = page.elements.dayEndOrder.val();
        let obj = {
            currentPageNumber: currentPageNumber,
            paid: paid,
            billFrom: billFrom,
            billTo: billTo
        }
        $.ajax({
            type: 'POST',
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            url: page.urls.getAllBill,
            data: JSON.stringify(obj),
        })
            .done((data) => {
                let totalMoney = 0;
                if (data == undefined){
                }
                $('#tbBill tbody').empty();
                listBills = data.content;
                currentPageNumber = data.pageable.pageNumber;
                totalPages = data.totalPages;
                totalElements = data.totalElements;
                $.each(listBills, (i, item) => {
                    totalMoney = totalMoney + item.totalAmount;
                    let str = page.commands.renderBill(item);
                    $('#tbBill tbody').append(str);
                })
                let strPage = page.commands.renderPagination(currentPageNumber, totalElements, totalPages );
                page.elements.totalAmountRevenue.text(totalMoney.toLocaleString('vi', {style: 'currency', currency: 'VND'}));
                $('#body-foot').empty().append(strPage);
                page.commands.addEventClick();
            })
    }

    page.commands.renderBill = (bill) => {
        return `
          <tr id="tr_${bill.id}" class="primary">
                    <td class="cell-detail text-center"> ${bill.id}</td>
                    <td class="cell-detail text-center">${bill.tableName}</td>
                    <td class="cell-detail text-center">${formDate(bill.createdAt)}</td>
                    <td class="cell-detail text-center">${bill.staffName}</td>
                    <td class="cell-detail text-center">${formatCurrency(bill.totalAmount)}</td>
                    <td class="cell-detail text-center">
                     <button type="button" class="btn-bill-detail btn btn-warning" data-bs-toggle="modal" data-bs-target="#mdBillDetail" data-id="${bill.id}">
                    <i class="fas fa-eye"></i> Detail </button>
                    </td>
                </tr>
        `
    }
    page.commands.renderPagination = (currentPageNumber, totalElements, totalPages) => {
        let str = `
                            <div class="col-sm-12 col-md-7 pagination-foot">
                                <div class="dataTables_paginate paging_simple_numbers" id="sampleTable_paginate">
                                    <ul class="pagination">
                `;


        if (currentPageNumber != 0) {
            str += `
                            <li class="paginate_button page-item previous " id="sampleTable_previous" data-page="${currentPageNumber-1}">
                                <a class="page-link" data-page="${currentPageNumber-1}">Pre</a>
                            </li>
                            `;
        } else {
            str += `
                            <li class="paginate_button page-item previous disabled" id="sampleTable_previous">
                                <a class="page-link">Pre</a>
                            </li>
                            `;
        }

        for(let i = 1; i <= totalPages ; i++ ) {
            if ((i - 1 ) === currentPageNumber) {
                str += `
                            <li class="paginate_button page-item active">
                                <a id="pageActive" class="page-link" data-page="${i-1}">${i}</a>
                            </li>
                        `;
            }
            else {
                str += `
                            <li class="paginate_button page-item">
                                <a id="pageActive" class="page-link" data-page="${i-1}">${i}</a>
                            </li>
                        `;
            }
        }

        if(currentPageNumber != (totalPages - 1)){
            str += `
                            <li class="paginate_button page-item next" id="sampleTable_next" >
                                <a class="page-link" data-page="${currentPageNumber+1}">Next</a>
                            </li>
                        `;
        } else {
            str += `
                            <li class="paginate_button page-item next disabled" id="sampleTable_next">
                                <a class="page-link">Next</a>
                            </li>
                        `;
        }

        return str;
    }

    function formatCurrency(input) {
        return new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(input)
    }

    page.commands.addEventChangePage = () => {
        $('.page-link').on('click', function () {
            let pageNumber = $(this).data('page');
            paid = page.elements.billPaid.val();
            billFrom = page.elements.dayStartOrder.val();
            billTo = page.elements.dayEndOrder.val();
            currentPageNumber= pageNumber;
            page.dialogs.commands.getAllBills();
        })
    }



    page.commands.addEventClick = () => {
        page.commands.addEventChangePage();

    }

    function formDate(date) {
        let arr = date.split("-")
        date = arr[2] + "-" + arr[1] + "-" + arr[0]
        return date;
    }
    function formMonth(month){
        let arr = month.split("-")
        month =  arr[1] + "-" + arr[0]
        return month;
    }


    /////////////////------------------- Modal detail
    page.commands.getBillDetailByBillID = (billId) => {
        return $.ajax({
            type: 'GET',
            url: page.urls.getAllBillDetailsByBill + '/' + billId
        });
    }

    page.commands.closeLoading = () => {

        page.elements.loader.addClass("hide");
    }

    page.commands.showLoading = () => {

        page.elements.loader.removeClass("hide");
    }

    page.initializeControlEvent = () => {

    }

    page.commands.loadData = () => {
        page.dialogs.commands.getAllBills();

    }


    $(() => {
        page.commands.loadData();

        page.initializeControlEvent();
    })


</script>
</body>
</html>