<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="/layout/dashboard_layout/head"/>
    <link rel="stylesheet" href="/assets/bootstrap/v.5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/preview-image.css">
    <link rel="stylesheet" href="/assets/iziToast/iziToast-1.4.0.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="g-sidenav-show  bg-gray-200">
<th:block th:replace="/layout/dashboard_layout/left-sidebar :: left-sidebar-staff"/>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <th:block th:replace="/layout/dashboard_layout/navbar:: navbar-staff"/>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="col-sm-8">
                    <button type="button" class="btn add" id="btnShowModalCreate">
                        <i class="material-icons opacity-10">add</i>
                        Add staff
                    </button>
                </div>
                <div class="card my-4">

                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Staff</h6>
                        </div>
                    </div>

                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center text-center mb-0" id="tbStaff">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Avatar</th>
                                    <th>Full Name</th>
                                    <th>Date of Birth</th>
                                    <th>Phone Number</th>
                                    <th>Province</th>
                                    <th>District</th>
                                    <th>Ward</th>
                                    <th>Address</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="row" id="scrollButton">
                            <nav id="paginationNav">
                                <ul class="pagination justify-content-center">
                                    <!-- Các nút phân trang sẽ được thêm vào đây -->
                                </ul>
                            </nav>
                        </div>
                        <div class="spinner loader">
                            <div class="spinner-sector spinner-sector-red"></div>
                            <div class="spinner-sector spinner-sector-blue"></div>
                            <div class="spinner-sector spinner-sector-green"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="/layout/dashboard_layout/footer"/>
</main>

<th:block th:replace="/layout/dashboard_layout/javascript"/>
<th:block th:replace="/dashboard/modal-create-staff :: modal-create-staff"></th:block>
<th:block th:replace="/dashboard/modal-update-staff :: modal-update-staff"></th:block>

<script src="/assets/jquery/jquery-3.7.0.min.js"></script>
<script src="/assets/jquery/jquery.validate.js"></script>
<script src="/assets/bootstrap/v.5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/assets/sweetalert2/sweetalert2.all.min.js"></script>
<script src="/assets/js/magnific-popup-1.1.0.js"></script>
<script src="/assets/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
    const page = {
        url: {
            getAllStaff: App.API_STAFF,
            getStaffById: App.API_STAFF,
            create: App.API_STAFF + '/create',
            update: App.API_STAFF,
            delete: App.API_STAFF + '/delete'
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {},
            loadData: {}
        }
    }
    page.elements.tbStaffBody = $('#tbStaff tbody')
    page.elements.loader = $(".loader");

    page.elements.btnShowModalCreate = $('#btnShowModalCreate');
    page.dialogs.elements.frmCreateStaff = $('#frmCreateStaff');
    page.dialogs.elements.modalCreate = $('#modalCreate')
    page.dialogs.elements.errorCreateArea = $('#modalCreate .modal-body .modal-alert-danger')
    page.dialogs.elements.fullNameCre = $('#fullNameCre')
    page.dialogs.elements.phoneCre = $('#phoneCre')
    page.dialogs.elements.dobCre = $('#dobCre')
    page.dialogs.elements.provinceCre = $('#provinceCre');
    page.dialogs.elements.districtCre = $('#districtCre');
    page.dialogs.elements.wardCre = $('#wardCre');
    page.dialogs.elements.addressCre = $('#addressCre');
    page.dialogs.elements.userNameCre = $('#userNameCre');
    page.dialogs.elements.roleCre = $('#roleCre');
    page.dialogs.elements.btnCreate = $('#btnCreate')

    page.dialogs.elements.frmUpdateStaff = $('#frmUpdateStaff');
    page.dialogs.elements.modalUpdate = $('#modalUpdate')
    page.dialogs.elements.errorUpdateArea = $('#modalUpdate .modal-body .modal-alert-danger')
    page.dialogs.elements.fullNameUp = $('#fullNameUp')
    page.dialogs.elements.phoneUp = $('#phoneUp')
    page.dialogs.elements.dobUp = $('#dobUp')
    page.dialogs.elements.provinceUp = $('#provinceUp');
    page.dialogs.elements.districtUp = $('#districtUp');
    page.dialogs.elements.wardUp = $('#wardUp');
    page.dialogs.elements.addressUp = $('#addressUp');
    page.dialogs.elements.btnUpdate = $('#btnUpdate')


    page.dialogs.elements.wrapper = $("section .wrapper");
    page.dialogs.elements.imageFileCreate = $("#imageFileCreate");
    page.dialogs.elements.imageFileUpdate = $("#imageFileUpdate");
    page.dialogs.elements.wrapperContent = $("section .wrapper .content");
    page.dialogs.elements.imagePreview = $("section .image-preview canvas");
    page.dialogs.elements.canvasCreate = $("#canvasCreate");
    page.dialogs.elements.canvasUpdate = $("#canvasUpdate");
    page.dialogs.elements.contextCreate = page.dialogs.elements.canvasCreate[0].getContext('2d');
    page.dialogs.elements.contextUpdate = page.dialogs.elements.canvasUpdate[0].getContext('2d');
    page.dialogs.elements.imagePreview.css("display", "none");
    page.dialogs.elements.divImagePreviewCreate = $("#modalCreate div.image-preview, #modalCreate div.file-name");
    page.dialogs.elements.divImagePreviewUpdate = $("#modalUpdate div.image-preview, #modalUpdate div.file-name");
    page.dialogs.elements.btnClearImagePreview = $(".clear-image-preview i");
    page.elements.pagination = $('.pagination')
    page.elements.keySearch = $('#keySearch');

    let locationRegion = new LocationRegion();
    let staff = new Staff();
    let user = new User();
    let staffId = 0;
    let keySearch = "";
    let currentPage =0;
    page.commands.renderStaff = (staff) => {
        avatar = staff.staffAvatar;
        let imageThumbnail = (avatar && avatar.fileFolder && avatar.fileName) ?
            App.BASE_URL_CLOUD_IMAGE + "/" + App.IMAGE_SCALE_W_100_h_80_Q_90 + "/" + avatar.fileFolder + "/" + avatar.fileName :
            '';
        const now = moment();

        return `
                <tr>
                    <td>${staff.id}</td>
                     <td><img src="${imageThumbnail}" alt="" /></td>
                    <td>${staff.fullName}</td>
                    <td>${moment(staff.dob).format("DD/MM/YYYY")}</td>
                    <td>${staff.phone}</td>
                    <td>${staff.locationRegion.provinceName}</td>
                    <td>${staff.locationRegion.districtName}</td>
                    <td>${staff.locationRegion.wardName}</td>
                    <td>${staff.locationRegion.address}</td>
                    <td>${staff.user.role.code}</td>
                    <td>
                        <button class="btn btn-outline-secondary edit" data-id="${staff.id}">
                            <i class="fas fa-user-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger delete" data-id="${staff.id}" >
                            <i class="fas fa-lock"></i>
                        </button>
                    </td>
                </tr>
            `
    }
    document.getElementById("scrollButton").addEventListener("click", function() {
        const targetElement = document.getElementById("targetElement");
        if (targetElement) {
            targetElement.scrollIntoView({ behavior: "smooth" });
        }
    });

    page.commands.displayPagination = (totalPages, currentPage) => {
        page.elements.pagination.empty();
        const maxVisiblePages = 2; // Số trang tối đa hiển thị
        const ellipsis = '<li class="page-item disabled"><a class="page-link" href="#">...</a></li>';

        let firstBtn = '<li class="page-item' + (currentPage === 1 ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllStaff(0, 10, keySearch)">First</a></li>';
        page.elements.pagination.append(firstBtn);

        let previousBtn = '<li class="page-item' + (currentPage === 1 ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllStaff(' + (currentPage - 2) + ', 10, keySearch)"><</a></li>';
        page.elements.pagination.append(previousBtn);

        if (totalPages <= maxVisiblePages) {
            // Hiển thị tất cả các trang nếu tổng số trang nhỏ hơn hoặc bằng maxVisiblePages
            for (let i = 1; i <= totalPages; i++) {
                let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllStaff(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                page.elements.pagination.append(pageBtn);
            }
        } else {
            // Hiển thị 3 trang và sử dụng dấu "..."
            if (currentPage <= maxVisiblePages - 1) {
                for (let i = 1; i <= maxVisiblePages; i++) {
                    let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllStaff(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                    page.elements.pagination.append(pageBtn);
                }
                page.elements.pagination.append(ellipsis);
            } else if (currentPage >= totalPages - maxVisiblePages + 1) {
                page.elements.pagination.append(ellipsis);
                for (let i = totalPages - maxVisiblePages + 1; i <= totalPages; i++) {
                    let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllStaff(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                    page.elements.pagination.append(pageBtn);
                }
            } else {
                page.elements.pagination.append(ellipsis);
                for (let i = currentPage - 1; i <= currentPage + 1; i++) {
                    let pageBtn = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllStaff(' + (i - 1) + ', 10, keySearch)">' + i + '</a></li>';
                    page.elements.pagination.append(pageBtn);
                }
                page.elements.pagination.append(ellipsis);
            }
        }

        let nextBtn = '<li class="page-item' + (currentPage === totalPages ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllStaff(' + (currentPage) + ', 10, keySearch)">></a></li>';
        page.elements.pagination.append(nextBtn);

        let lastBtn = '<li class="page-item' + (currentPage === totalPages ? ' disabled' : '') + '"><a class="page-link" href="#" onclick="page.commands.getAllStaff(' + (totalPages - 1) + ', 10, keySearch)">Last</li>';
        page.elements.pagination.append(lastBtn);
    };


    function showLoader() {
        page.elements.loader.css('display', 'block');
    }

    function hideLoader() {
        page.elements.loader.css('display', 'none');
    }
    // Hiển thị loading spinner trong modal
    // function showModalLoading() {
    //     $("#modalLoadingOverlay").show();
    // }
    //
    // // Ẩn loading spinner trong modal
    // function hideModalLoading() {
    //     $("#modalLoadingOverlay").hide();
    // }

    page.commands.getStaffById = (id) => {
        return $.ajax({
            type: 'GET',
            url: page.url.getStaffById + '/' + id,
        });
    }
    page.commands.getAllStaff = (pageStaff,pageSize,keySearch) => {
        currentPage = pageStaff;
        showLoader();
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: 'GET',
            url: page.url.getAllStaff+`?page=${pageStaff}&size=${pageSize}&search=${keySearch}`,
            data: {
                keySearch: keySearch
            }
        })
            .done((data) => {
                console.log(data)
                page.elements.tbStaffBody.empty();
                $.each(data.content, (index, item) => {
                    const str = page.commands.renderStaff(item)
                    page.elements.tbStaffBody.prepend(str)
                })
                page.commands.displayPagination(data.totalPages, data.number + 1);

            })
            .fail(function () {
                App.SweetAlert.showErrorAlert(App.AlertMessageVi.ERROR_404);
            })
            .always(function () {
                hideLoader();
            });
    }

    page.commands.onchangeProvince = (provinceId, districtElement, wardElement) => {
        page.commands.getALlDistricts(provinceId, districtElement).then(() => {
            const districtId = districtElement.val();
            page.commands.getAllWards(districtId, wardElement);
        })
    }
    page.commands.getAllProvinces = () => {
        return $.ajax({
            type: 'GET',
            url: 'https://vapi.vnappmob.com/api/province/'
        })
            .done((data) => {
                const provinces = data.results;
                page.dialogs.elements.provinceCre.empty();
                page.dialogs.elements.provinceUp.empty();

                $.each(provinces, (index, item) => {

                    const str = `<option value="${item.province_id}">${item.province_name}</option>`
                    page.dialogs.elements.provinceCre.append(str);
                    page.dialogs.elements.provinceUp.append(str);

                })
            })
    }

    page.commands.getALlDistricts = (provinceId, elementSelect) => {
        return $.ajax({
            type: 'GET',
            url: 'https://vapi.vnappmob.com/api/province/district/' + provinceId
        })
            .done((data) => {
                const districts = data.results;
                elementSelect.empty();

                $.each(districts, (index, item) => {
                    const str = `<option value="${item.district_id}">${item.district_name}</option>`
                    elementSelect.append(str);
                });
            })
    }
    page.commands.getAllWards = (districtId, elementSelect) => {
        return $.ajax({
            type: 'GET',
            url: 'https://vapi.vnappmob.com/api/province/ward/' + districtId
        })
            .done((data) => {
                const wards = data.results;

                elementSelect.empty();

                $.each(wards, (index, item) => {
                    const str = `<option value="${item.ward_id}">${item.ward_name}</option>`;
                    elementSelect.append(str);
                });
            });
    }
    page.dialogs.commands.loadImageToCanvas = (imageFile, fileType, imageUrl) => {
        page.dialogs.elements.imagePreview.css("display", "");
        page.dialogs.elements.wrapper.addClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 0);

        let imageObj = new Image();

        imageObj.onload = function () {
            page.dialogs.elements.contextCreate.canvas.width = imageObj.width;
            page.dialogs.elements.contextCreate.canvas.height = imageObj.height;
            page.dialogs.elements.contextCreate.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);

        };

        if (fileType === "BINARY") {
            imageObj.src = URL.createObjectURL(imageFile);
        } else {
            imageObj.src = imageUrl;
        }
    }
    page.commands.loadImageToCanvasUpdate = (imageFile, fileType, imageUrl) => {
        page.dialogs.elements.imagePreview.css("display", "");
        page.dialogs.elements.wrapper.addClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 0);

        let imageObj = new Image();

        imageObj.onload = function () {
            page.dialogs.elements.contextUpdate.canvas.width = imageObj.width;
            page.dialogs.elements.contextUpdate.canvas.height = imageObj.height;
            page.dialogs.elements.contextUpdate.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);

        };

        if (fileType === "BINARY") {
            imageObj.src = URL.createObjectURL(imageFile);
        } else {
            imageObj.src = imageUrl;
        }
    }
    page.dialogs.commands.changeImagePreviewCreate = () => {
        let imageFile = page.dialogs.elements.imageFileCreate[0].files[0];


        if (imageFile) {
            let reader = new FileReader();

            reader.readAsDataURL(imageFile);

            reader.onload = function (e) {
                if (e.target.readyState === FileReader.DONE) {
                    page.dialogs.commands.loadImageToCanvas(imageFile, "BINARY", null);
                }
            }
        } else {
            page.dialogs.elements.clearImagePreview();
        }
    }
    page.dialogs.commands.changeImagePreviewUpdate = () => {
        let imageFile = page.dialogs.elements.imageFileUpdate[0].files[0];


        if (imageFile) {
            let reader = new FileReader();

            reader.readAsDataURL(imageFile);

            reader.onload = function (e) {
                if (e.target.readyState === FileReader.DONE) {
                    page.commands.loadImageToCanvasUpdate(imageFile, "BINARY", null);
                }
            }
        } else {
            page.elements.clearImagePreview();
        }
    }
    page.commands.handleImagePopup = () => {

        $('.image-popup-vertical-fit').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-img',
            image: {
                verticalFit: true
            },
            gallery: {
                enabled: true
            }
        });

        $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
            disableOn: 700,
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,
            fixedContentPos: false
        });
    }

    // Đổi định dạng ngày tháng từ "YYYY-MM-DD" sang "dd/MM/yyyy"
    function formatDateForServer(dateString) {
        let parts = dateString.split('-');
        if (parts.length === 3) {
            return parts[2] + '/' + parts[1] + '/' + parts[0];
        }
        return dateString;
    }

    page.commands.handleCreateStaff = () => {
        showLoader();
        page.dialogs.elements.btnCreate.prop('disabled', true);
        locationRegion.id = null;
        locationRegion.provinceId = page.dialogs.elements.provinceCre.val();
        locationRegion.provinceName = page.dialogs.elements.provinceCre.find('option:selected').text();
        locationRegion.districtId = page.dialogs.elements.districtCre.val();
        locationRegion.districtName = page.dialogs.elements.districtCre.find('option:selected').text();
        locationRegion.wardId = page.dialogs.elements.wardCre.val();
        locationRegion.wardName = page.dialogs.elements.wardCre.find('option:selected').text();
        locationRegion.address = page.dialogs.elements.addressCre.val();

        user.userName = page.dialogs.elements.userNameCre.val();
        user.roleId = page.dialogs.elements.roleCre.val();

        staff.id = null;
        staff.fullName = page.dialogs.elements.fullNameCre.val();
        staff.phone = page.dialogs.elements.phoneCre.val();
        staff.dob = formatDateForServer(page.dialogs.elements.dobCre.val());

        staff.locationRegion = locationRegion;
        staff.user = user;

        let formData = new FormData();
        formData.append('fullName', staff.fullName);
        formData.append('phone', staff.phone);
        formData.append('dob', staff.dob);
        formData.append('provinceId', locationRegion.provinceId);
        formData.append('provinceName', locationRegion.provinceName);
        formData.append('districtId', locationRegion.districtId);
        formData.append('districtName', locationRegion.districtName);
        formData.append('wardId', locationRegion.wardId);
        formData.append('wardName', locationRegion.wardName);
        formData.append('address', locationRegion.address);
        formData.append('staffAvatar', page.dialogs.elements.imageFileCreate[0].files[0]);
        formData.append('username', user.userName);
        formData.append('roleId', user.roleId);

        $.ajax({
            type: "POST",
            contentType: false,
            cache: false,
            processData: false,
            url: page.url.create,
            data: formData
        })

            .done((data) => {
                const avatar = data.staffAvatar;
                const str = page.commands.renderStaff(data);
                page.elements.tbStaffBody.prepend(str)
                page.dialogs.elements.modalCreate.modal('hide');
                page.commands.handleImagePopup();
                App.SweetAlert.showSuccessAlert("Thêm mới thành công")
            })
            .fail((error) => {
                App.SweetAlert.showErrorAlert(error.responseJSON.message);
            })
            .always(function () {
                hideLoader();
                page.dialogs.elements.btnCreate.prop('disabled', false);
            })
    }

    page.commands.showModalUpdate = (staffId) => {

        page.commands.getStaffById(staffId).then((data) => {
            staff = data;
            console.log("data", data);
            locationRegion = staff.locationRegion;
            page.dialogs.elements.fullNameUp.val(staff.fullName);
            const formattedDob = moment(staff.dob).format("YYYY-MM-DD")
            page.dialogs.elements.dobUp.val(formattedDob);
            console.log("ngày", formattedDob);
            page.dialogs.elements.phoneUp.val(staff.phone);
            page.dialogs.elements.addressUp.val(locationRegion.address);
            page.dialogs.elements.provinceUp.val(locationRegion.provinceId);

            page.commands.getALlDistricts(locationRegion.provinceId, page.dialogs.elements.districtUp).then(() => {
                page.dialogs.elements.districtUp.val(locationRegion.districtId);

                page.commands.getAllWards(locationRegion.districtId, page.dialogs.elements.wardUp).then(() => {
                    page.dialogs.elements.wardUp.val(locationRegion.wardId);
                })
            })
            page.commands.loadImageToCanvasUpdate(null, "", staff.staffAvatar.fileUrl);
            page.dialogs.elements.modalUpdate.modal('show');
        })

    }

    page.commands.updateStaff = () => {;
        showLoader();
        const provinceId = page.dialogs.elements.provinceUp.val();
        const provinceName = page.dialogs.elements.provinceUp.find('option:selected').text();
        const districtId = page.dialogs.elements.districtUp.val();
        const districtName = page.dialogs.elements.districtUp.find('option:selected').text();
        const wardId = page.dialogs.elements.wardUp.val();
        const wardName = page.dialogs.elements.wardUp.find('option:selected').text();
        const address = page.dialogs.elements.addressUp.val();

        locationRegion.provinceId = provinceId;
        locationRegion.provinceName = provinceName;
        locationRegion.districtId = districtId;
        locationRegion.districtName = districtName;
        locationRegion.wardId = wardId;
        locationRegion.wardName = wardName;
        locationRegion.address = address;


        const fullName = page.dialogs.elements.fullNameUp.val();
        const dob = formatDateForServer(page.dialogs.elements.dobUp.val());

        const phone = page.dialogs.elements.phoneUp.val();

        staff.fullName = fullName;
        staff.dob = dob;
        staff.phone = phone;
        staff.locationRegion = locationRegion;

        let formData = new FormData();
        formData.append('fullName', staff.fullName);
        formData.append('dob', staff.dob);
        formData.append('phone', staff.phone);
        formData.append('locationRegion.provinceId', locationRegion.provinceId);
        formData.append('locationRegion.provinceName', locationRegion.provinceName);
        formData.append('locationRegion.districtId', locationRegion.districtId);
        formData.append('locationRegion.districtName', locationRegion.districtName);
        formData.append('locationRegion.wardId', locationRegion.wardId);
        formData.append('locationRegion.wardName', locationRegion.wardName);
        formData.append('locationRegion.address', locationRegion.address);
        if (page.dialogs.elements.imageFileUpdate[0].files[0] != null) {
            formData.append("staffAvatar", page.dialogs.elements.imageFileUpdate[0].files[0]);
        }

        $.ajax({
            type: "PATCH",
            url: page.url.update + "/" + staffId,
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
        })
            .done((data) => {
                const str = page.commands.renderStaff(data);
                const currentRow = $('#tr_' + staffId);
                currentRow.replaceWith(str);
                const formattedDob = moment(staff.dob).format("DD-MM-YYYY");
                page.dialogs.elements.dobUp.val(formattedDob);
                page.commands.getAllStaff(currentPage,10,keySearch);
                page.dialogs.elements.modalUpdate.modal('hide');
                App.SweetAlert.showSuccessAlert("Cập nhật thành công")
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
            })
            .always(function () {
                hideLoader();
                page.dialogs.elements.btnUpdate.prop('disabled', false);
            });
    }
    page.commands.showDeleteConfirm = () => {

        App.SweetAlert.showDeleteConfirmDialog()
            .then((result) => {
                if (result.isConfirmed) {
                    page.commands.deleteStaff();
                }
            });
    }
    page.commands.deleteStaff = () => {
        showLoader();
        $.ajax({
            type: "DELETE",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: page.url.delete + '/' + staffId,
        }).done((data) => {
            App.SweetAlert.showSuccessAlert("Khóa tài khoản thành công");
            $("#tr_" + staffId).remove();
            page.commands.handleImagePopup();
            if($("#tbStaff tbody tr").length > 1){
                page.commands.getAllStaff(currentPage,10,keySearch);
            }else{
                page.commands.getAllStaff(currentPage - 1,10,keySearch);
            }


        }).fail(function (jqXHR) {
            App.SweetAlert.showErrorAlert(jqXHR.responseJSON.message);
        }).always(function () {
            hideLoader();

        });
    }
    page.initializeControlEvent = () => {
        page.elements.btnShowModalCreate.on('click', () => {
            page.dialogs.elements.modalCreate.modal('show');
        })
        page.dialogs.elements.btnCreate.on('click', () => {
            page.dialogs.elements.frmCreateStaff.trigger("submit");
        })
        page.dialogs.elements.provinceCre.on('change', function () {
            const provinceId = $(this).val();
            page.commands.onchangeProvince(provinceId, page.dialogs.elements.districtCre, page.dialogs.elements.wardCre);
        })
        page.dialogs.elements.provinceUp.on('change', function () {
            const provinceId = $(this).val();
            page.commands.onchangeProvince(provinceId, page.dialogs.elements.districtUp, page.dialogs.elements.wardUp);
        })
        page.dialogs.elements.districtCre.on('change', function () {
            const districtId = $(this).val();
            page.commands.getAllWards(districtId, page.dialogs.elements.wardCre);
        })
        page.dialogs.elements.districtUp.on('change', function () {
            const districtId = $(this).val();
            page.commands.getAllWards(districtId, page.dialogs.elements.wardUp);
        })
        page.dialogs.elements.divImagePreviewCreate.on("click", function () {
            page.dialogs.elements.imageFileCreate.trigger("click");
        });
        page.dialogs.elements.divImagePreviewUpdate.on("click", function () {
            page.dialogs.elements.imageFileUpdate.trigger("click");
        });
        page.dialogs.elements.imageFileCreate.on("change", function () {
            page.dialogs.commands.changeImagePreviewCreate();
        });
        page.dialogs.elements.imageFileUpdate.on("change", function () {
            page.dialogs.commands.changeImagePreviewUpdate();
        });
        page.elements.tbStaffBody.on('click', '.edit', function () {
            staffId = $(this).data('id');
            page.commands.showModalUpdate(staffId);
        })

        page.dialogs.elements.btnUpdate.on('click', () => {
            page.dialogs.elements.frmUpdateStaff.trigger("submit");
        })

        page.elements.tbStaffBody.on("click", ".delete", function () {
            staffId = $(this).data('id');
            page.commands.showDeleteConfirm(staffId);
        });
        page.dialogs.elements.clearImagePreview = () => {
            page.dialogs.elements.imageFileCreate.val("");
            page.dialogs.elements.imageFileUpdate.val("");
            page.dialogs.elements.imagePreview.css("display", "none");
            page.dialogs.elements.wrapper.removeClass("active");
            page.dialogs.elements.wrapperContent.css("opacity", 1);
        }

        page.dialogs.elements.btnClearImagePreview.on("click", function () {
            page.dialogs.elements.clearImagePreview();
        });

        page.commands.closeModalCreate = () => {
            page.dialogs.elements.frmCreateStaff[0].reset();
            page.dialogs.elements.frmCreateStaff.validate().resetForm();
            page.dialogs.elements.frmCreateStaff.find("input.error").removeClass("error");
            page.dialogs.elements.errorCreateArea.empty().removeClass("show").addClass("hide");
            page.dialogs.elements.clearImagePreview();
        }
        page.commands.closeModalUpdate = () => {
            page.dialogs.elements.frmUpdateStaff[0].reset();
            page.dialogs.elements.frmUpdateStaff.validate().resetForm();
            page.dialogs.elements.frmUpdateStaff.find("input.error").removeClass("error");
            page.dialogs.elements.errorUpdateArea.empty().removeClass("show").addClass("hide");
            page.dialogs.elements.clearImagePreview();
        }

        page.dialogs.elements.modalCreate.on("hidden.bs.modal", function () {
            page.commands.closeModalCreate();
        });
        page.dialogs.elements.modalUpdate.on("hidden.bs.modal", function () {
            page.commands.closeModalUpdate();
        });
        page.elements.keySearch.on('input', function () {
            const keySearch = $(this).val();
            // $('#formSearch').trigger("submit");
            page.commands.getAllStaff(0,10,keySearch);

        })
    }
    page.loadData = () => {
        page.commands.getAllStaff(currentPage,10,keySearch);

        page.commands.getAllProvinces().then(() => {
            const provinceId = page.dialogs.elements.provinceCre.val();

            page.commands.getALlDistricts(provinceId, page.dialogs.elements.districtCre).then(() => {
                const districtId = page.dialogs.elements.districtCre.val();
                page.commands.getAllWards(districtId, page.dialogs.elements.wardCre);
            });
        });

    }
    $(() => {
        page.loadData();
        page.initializeControlEvent();
    })

</script>
<script src="/assets/js/staff-validation.js"></script>

</body>
</html>