<th:block th:fragment="modal-create-table">
    <div class="modal fade" id="modalCreate" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-ml">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal create table</h1>
                    <button type="button" class="btn-close btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--                    <div class="error-area"></div>-->
                    <div class="modal-alert-danger hide">
                    </div>
                    <form method="post" id="frmCreateTable" enctype="multipart/form-data">
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-lg-12 mb-3">
                                            <label for="titleCre" class="form-label">Table</label>
                                            <input type="text" class="form-control" id="titleCre" name="titleCre">
                                            <div class="form-message"></div>
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                            <label for="zoneCre">Zone</label>
                                            <select class="form-select" name="zoneCre" id="zoneCre">
                                                <option value="1" selected>Tầng 1</option>
                                                <option value="2">Tầng 2</option>
                                                <option value="3">Tầng 3</option>
                                                <option value="4">Mang về</option>
                                            </select>
                                            <div class="form-message"></div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                        <!--                        <div id="loading">-->
                        <!--                        </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btnClose" data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" id="btnCreate" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</th:block>







