<!DOCTYPE html>
<html lang="en">

<head>
  <title>Thống kê</title>
  <th:block th:replace="layout/head"/>
</head>

<body>
<!------------- LOADING SPINNER---------->
<th:block th:replace="layout/loading"/>
<!------------- LOADING SPINNER---------->

<!-- SIDEBAR -->
<th:block th:replace="layout/sidebar"/>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <th:block th:replace="layout/navbar"/>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <!------  Main header ----->
    <div class="app-title">
      <div class="app-title-child">
        <h3> Thống kê </h3>
      </div>
      <div id="clock"></div>
    </div>
    <!---- End Main header --->
    <div class="cards">
      <div class="row">
        <div class="col-md-12">

          <div class="be-content">
            <div class="main-content container-fluid">

              <div class="row ">
                <div class="col-12 col-lg-4 ">
                  <div class="widget widget-tile">
                    <div class="chart sparkline" id="spark11"></div>
                    <div class="data-info">
                      <div class="desc">Tổng số nhân viên</div>
                      <div class="value">
                        <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
                        <span class="number"><a href="/staffs" id="countStaff">0</a></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 ">
                  <div class="widget widget-tile">
                    <div class="chart sparkline" id="spark22"></div>
                    <div class="data-info">
                      <div class="desc">Tổng số bàn</div>
                      <div class="value">
                        <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
                        <span class="number"><a href="/tables" id="countTable">0</a></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 ">
                  <div class="widget widget-tile">
                    <div class="chart sparkline" id="spark33"></div>
                    <div class="data-info">
                      <div class="desc">Tổng số sản phẩm</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span class="number"> <a href="/products" id="countProduct">0</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row ">
                <div class="col-12 mb-3 d-flex justify-content-center w-75">
                  <span class="form-text my-auto title-table"> Chọn ngày để xem doanh thu:</span>
                  <input type="date" class="form-control ml-4 w-25" id="dateCount">
                </div>
                <div class="col-12 col-lg-6 ">
                  <div class="widget widget-tile">
                    <div class="chart sparkline" id="spark1"></div>
                    <div class="data-info">
                      <div class="desc" id="day-amount-title">Doanh thu trong ngày</div>
                      <div class="value">
                        <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
                        <span id="totalOfDay" class="number">0</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6 ">
                  <div class="widget widget-tile">
                    <div class="chart sparkline" id="spark2"></div>
                    <div class="data-info">
                      <div class="desc" id="day-bill-title">Hóa đơn trong ngày</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span id="countOrderCurrentDay" class="number">0</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-12 mb-3 d-flex justify-content-center w-75">
                  <span class="form-text my-auto title-table"> Chọn tháng để xem doanh thu:</span>
                  <input type="month" class="form-control ml-4 w-25" id="monthCount">
                </div>
                <div class="col-12 col-lg-6 ">
                  <div class="widget widget-tile">
                    <div class="chart sparkline" id="spark3"></div>
                    <div class="data-info">
                      <div class="desc" id="month-amount-title">Doanh thu trong tháng</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span id="reportCurrentMonth" class="number">0</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6 ">
                  <div class="widget widget-tile">
                    <div class="chart sparkline" id="spark4"></div>
                    <div class="data-info">
                      <div class="desc" id="month-bill-title">Hóa đơn trong tháng</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span id="countBillOfMonth" class="number">0</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-6 col-lg-6 col-md-12">
                  <div class="card">
                    <div class="card-header">

                      <div class="row d-flex justify-content-between">
                        <div class="ml-3 title-table" id="title-top-5">TOP 5 BÁN CHẠY THÁNG 4
                        </div>
                      </div>
                      <div class="d-flex justify-content-center" id="top5">
                        <input type="month" id="month-top-5" class="form-control top5">
                        <select class="form-control ml-2 top5" id="sort-top-5">
                          <option value="DESC">Top 5 bán chạy</option>
                          <option value=ASC>Top 5 bán ế</option>
                        </select>
                      </div>
                    </div>
                    <div class="card-body">
                      <table id="tbTop5Product" class="table table-striped table-hover w-100">
                        <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th class="text-center">Ảnh</th>
                          <th class="text-center">Tên sản phẩm</th>
                          <th class="text-center">Số lượng bán ra</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-6 col-md-12">

                  <div id="top10ProductChart"
                       style="width:100%;max-width:500px; min-width: 400px"></div>

                </div>

                <div class="col-12 col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="row d-flex justify-content-between">
                        <div class="ml-3 title-table">DOANH THU 6 THÁNG GẦN ĐÂY</div>

                      </div>
                    </div>
                    <div class="card-body">
                      <div id="report-6-month-ago" style="width:100%; max-width:1000px;"></div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <div class=" d-flex justify-content-between">
                        <div class=" title-table my-auto" style="font-size: 26px !important;">
                          DOANH THU THEO KHOẢNG NGÀY
                        </div>
                        <div class=" mt-2 d-flex" id="input-date">
                          <div class="mr-2 form-label my-auto">
                            Từ ngày
                          </div>
                          <div class="ml-2 mr-2">
                            <input type="date" min="2020-01-01" max=""
                                   class="form-control report-date"
                                   id='dateStartReport'
                            >
                          </div>
                          <div class="mr-2 form-label my-auto">
                            đến ngày
                          </div>
                          <div class="mr-2">
                            <input type="date" min="2020-01-01" max=""
                                   class="form-control report-date"
                                   id='dateEndReport'
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div id="chartDayToDay" style="width:100%"></div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="row d-flex justify-content-between">
                        <div class="ml-3 title-table">DOANH THU TỪNG THÁNG THEO NĂM</div>
                        <div class="col-4 mr-3 d-flex">
                          <select type="" class="form-control mr-1" id="yearReport"
                                  name="yearReport">
                            <option value="2023"> Năm 2023</option>
                            <option value="2022"> Năm 2022</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div id="reportByYearChart" style="width:100%; max-width:1000px;"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- MAIN -->
</section>
<!-- CONTENT -->
<style>
  .card {
    margin-bottom: 25px;
  }

  .widget.widget-tile {
    padding: 24px 20px;
    margin-bottom: 25px;
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .widget {
    background-color: #fff;
    border-radius: 6px;
  }

  .title-table {
    font-size: 28px;
    font-weight: 600;
  }

  table > thead > tr > th,
  .report-btn {
    background-color: #7266ba;
    color: white;
  }

  .desc {
    font-size: 16px;
    font-weight: 400;
  }

  .number {
    font-size: 42px;
    font-weight: 400;
  }
</style>


<!---- JAVA SCRIPT ---->
<th:block th:replace="layout/javascript"/>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/assets/iziToast/dist/js/iziToast.min.js"></script>
<!--<script src="/assets/lib/Chart.js/2.5.0/Chart.min.js"></script>-->
<script>
  const page = {
    urls: {
      getReportByYear: AppBase.REPORT_API,
      getReportOfDay: AppBase.REPORT_API,
      getReportDayToDay: AppBase.REPORT_API,
      countOrderCurrentDay: AppBase.REPORT_API,
      getReportCurrentMonth: AppBase.REPORT_API,
      getTop5Product: AppBase.REPORT_API,
      getBillsOfDay: AppBase.API_BILL + "/day",
    },
    elements: {},
    commands: {},
    initializeEventControl: {}
  }

  page.elements.loader = $(".loader");
  page.elements.yearReport = $("#yearReport");
  page.elements.btnShowChartMonthOfYear = $("#btnShowChartMonthOfYear");
  page.elements.btnShowChartReportDayToDay = $("#btnShowChartReportDayToDay");
  page.elements.totalOfDay = $("#totalOfDay");
  page.elements.countOrderCurrentDay = $("#countOrderCurrentDay");
  page.elements.reportCurrentMonth = $("#reportCurrentMonth");
  page.elements.monthBillTitle = $("#month-bill-title");
  page.elements.monthAmountTitle = $("#month-amount-title");
  page.elements.dayBillTitle = $("#day-bill-title");
  page.elements.dayAmountTitle = $("#day-amount-title");
  page.elements.countBillOfMonth = $("#countBillOfMonth");
  page.elements.monthTop5 = $("#month-top-5");
  page.elements.sortTop5 = $("#sort-top-5");
  page.elements.titleTop5 = $("#title-top-5");
  page.elements.top5 = $("#top5");

  page.elements.loader = $(".bg-loading");

  page.elements.inputDate = $("#input-date");
  page.elements.dateStartReport = $("#dateStartReport");
  page.elements.dateEndReport = $("#dateEndReport");
  page.elements.dateCount = $("#dateCount");
  page.elements.monthCount = $("#monthCount");
  page.elements.countStaff = $("#countStaff");
  page.elements.countProduct = $("#countProduct");
  page.elements.countTable = $("#countTable");


  page.elements.tbTop5Product = $("#tbTop5Product");
  page.elements.tbTop5ProductBody = $("#tbTop5Product tbody");


  let dateCount;
  let monthCount;
  let year;
  let startDay;
  let endDay;
  let month;
  let sort;

  page.commands.firstRender = () => {
    page.commands.showLoading();
    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json",
        // "Authorization": "Bearer "+ AppUtils.getCookie('JWT')
      },
      type: "GET",
      url: page.urls.getTop5Product + "/all"
    })
            .done((data) => {
              console.log(data)
              dateCount = page.elements.dateCount.val();
              monthCount = page.elements.monthCount.val()
              year = page.elements.yearReport.val();
              startDay = page.elements.dateStartReport.val();
              endDay = page.elements.dateEndReport.val();
              month = page.elements.monthTop5.val();
              sort = "DESC"
              page.commands.renderTop5ProductAction(data.top5BestSellReport);
              page.commands.renderReportOfDayAction(data.dayReport);
              page.commands.renderReportMonthAction(data.monthReport);
              page.commands.ShowReportDayToDayAction(data.tenDaysAgoReport);
              page.commands.showReportByYearAction(data.yearReport);
              page.commands.showReport6MonthAgo(data.sixMonthAgoReport);
              page.elements.countStaff.text(data.countStaff);
              page.elements.countProduct.text(data.countProduct);
              page.elements.countTable.text(data.countTable);

            })

            .fail((error) => {
              console.log(error);
            })
            .always(function () {
              page.commands.closeLoading();
            })

  }

  page.commands.renderTop5Product = () => {
    month = page.elements.monthTop5.val();
    sort = page.elements.sortTop5.val()
    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json",
        // "Authorization": "Bearer "+ AppUtils.getCookie('JWT')
      },
      type: "GET",
      url: page.urls.getTop5Product + "/product/top5/" + month + "-" + sort + "?size=5"
    })
            .done((data) => {
              page.commands.renderTop5ProductAction(data);

            })

            .fail((error) => {
              console.log(error);
            })
  }

  page.commands.renderTop5ProductAction = (data) => {
    page.elements.tbTop5ProductBody.empty();
    let xArray = [];
    let yArray = [];

    $.each(data, (i, item) => {
      if (item.quantity == null) {
        item.quantity = 0;
      }
      if (item.amount == null) {
        item.amount = 0;
      }
      page.elements.tbTop5ProductBody.append(page.commands.renderReportProduct(i + 1, item));
      xArray.push(item.title);
      yArray.push(item.quantity);
    });

    drawPieChart(xArray, yArray, "top10ProductChart");

    if (sort === "DESC") {
      page.elements.titleTop5.text(`TOP 5 BÁN CHẠY THÁNG ${month.split('-')[1]}`)
    }
    else if (sort === "ASC") {
      page.elements.titleTop5.text(`TOP 5 BÁN Ế THÁNG ${month.split('-')[1]}`)
    }
  }

  function drawPieChart(xArray, yArray, nameChart) {

    let layout = {title: "", text: "TOP 5"};

    let data = [{labels: xArray, values: yArray, hole: .4, type: "pie"}];

    Plotly.newPlot(nameChart, data, layout);
  }

  function formatCurrency(input) {
    return new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(input)
  }

  page.commands.renderReportProduct = (index, item) => {
    // let image_thumbnail = `
    //     ${AppBase.API_CLOUDINARY}/
    //     ${AppBase.SCALE_IMAGE_W60_H50_Q100}/
    //     ${item.fileFolder}/
    //     ${item.fileName}`
    // ;

    let image_thumbnail = `
                        ${AppBase.API_CLOUDINARY}/${AppBase.SCALE_IMAGE_W60_H50_Q100}/${item.fileFolder}/${item.fileName}
                    `;

    return `
                <tr>
                    <td class="text-center">${index}</td>
                    <td class="text-center">
                        <img src="${image_thumbnail}" alt="Ảnh sp"/>
                    </td>
                    <td class="text-center">
                      ${item.title}
                    </td>
                    <td class="text-center">${item.quantity}</td>
                </tr>
            `;
  }

  page.commands.renderReportOfDay = () => {
    dateCount = page.elements.dateCount.val();

    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json",
        // "Authorization": "Bearer "+ AppUtils.getCookie('JWT')
      },
      type: "GET",
      url: page.urls.getReportByYear + "/day/" + dateCount
    })
            .done((data) => {
              page.commands.renderReportOfDayAction(data);

            })
            .fail((error) => {
              console.log(error);
            })
  }

  page.commands.renderReportOfDayAction = (data) => {

    if (data.totalAmount != null) {
      page.elements.totalOfDay.text(formatCurrency(data.totalAmount));
      page.elements.countOrderCurrentDay.text(data.count);
      page.elements.dayBillTitle.text(`Hóa đơn trong ngày ${formDate(dateCount)} `);
      page.elements.dayAmountTitle.text(`Doanh thu trong ngày ${formDate(dateCount)} `);

    } else {
      page.elements.dayBillTitle.text(`Hóa đơn trong ngày ${formDate(dateCount)} `);
      page.elements.dayAmountTitle.text(`Doanh thu trong ngày ${formDate(dateCount)} `);
      page.elements.totalOfDay.text(formatCurrency(0));
      page.elements.countOrderCurrentDay.text(0);
      toastFail(`Ngày ${formDate(dateCount)}  không có doanh thu!`)
    }
    if (data.count === 0) {
      toastFail(`Ngày ${formDate(dateCount)}  không có đơn nào!`)
    }

  }

  function formDate(date) {
    let arr = date.split("-")
    date = arr[2] + "-" + arr[1] + "-" + arr[0]
    return date;
  }

  page.elements.countOrderCurrentDay.on('click', () => {
    location.href = `/bills/day/${dateCount}`;
  })

  function getCurrentDay() {
    let today = new Date();
    let dd = String(today.getDate()).padStart(2, '0');
    let mm = String(today.getMonth() + 1).padStart(2, '0');
    let yyyy = today.getFullYear();
    today = yyyy + '-' + mm + '-' + dd;
    return today;
  }

  function formMonth(month) {
    let arr = month.split("-")
    month = arr[1] + "-" + arr[0]
    return month;
  }


  page.commands.renderReportMonth = () => {
    monthCount = page.elements.monthCount.val()

    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json",
        // "Authorization": "Bearer "+ AppUtils.getCookie('JWT')
      },
      type: "GET",
      url: page.urls.getReportCurrentMonth + "/month/" + monthCount
    })
            .done((data) => {
              page.commands.renderReportMonthAction(data);

            })
            .fail((error) => {
              console.log(error);
            })
  }

  page.commands.renderReportMonthAction = (data) => {
    if (data !== null && data !== undefined) {
      page.elements.reportCurrentMonth.text(formatCurrency(data.totalAmount));
      page.elements.countBillOfMonth.text(data.count);
      page.elements.monthBillTitle.text(`Hóa đơn trong tháng ${formMonth(monthCount)}`);
      page.elements.monthAmountTitle.text(`Doanh thu trong tháng ${formMonth(monthCount)}`);

    } else {
      page.elements.monthBillTitle.text(`Hóa đơn trong tháng ${formMonth(monthCount)}`);
      page.elements.monthAmountTitle.text(`Doanh thu trong tháng ${formMonth(monthCount)}`);
      page.elements.reportCurrentMonth.text(formatCurrency(0));
      page.elements.countBillOfMonth.text(0);
    }

    if (data === undefined) {
      toastFail(`Tháng ${formMonth(monthCount)} không có doanh thu!`)
    }

  }

  page.commands.showReportByYear = () => {
    year = page.elements.yearReport.val();
    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json",
        // "Authorization": "Bearer "+ AppUtils.getCookie('JWT')
      },
      type: "GET",
      url: page.urls.getReportByYear + "/year/" + year
    })
            .done((data) => {
              page.commands.showReportByYearAction(data);

            })
            .fail((error) => {
              console.log(error);
            })

  }

  page.commands.showReportByYearAction = (data) => {
    if (data === undefined) {
      toastFail(`Không có dữ liệu cho năm ${year} !`)
      let xValues = ["Tháng 01", "Tháng 02", "Tháng 03", "Tháng 04", "Tháng 05", "Tháng 06", "Tháng 07", "Tháng 08", "Tháng 09", "Tháng 10", "Tháng 11", "Tháng 12"];
      let yValues = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      drawBarsChart(xValues, yValues, "reportByYearChart");
    } else {
      let xValues = [];
      let yValues = [];
      data.map(item => {
        xValues.push("Tháng " + item.month);
        yValues.push(item.totalAmount);
      });
      drawBarsChart(xValues, yValues, "reportByYearChart");
    }
  }

  page.commands.showReport6MonthAgo = (data) => {
    if (data === undefined) {
      toastFail(`Không có dữ liệu cho năm !`)
      let xValues = ["Tháng 01", "Tháng 02", "Tháng 03", "Tháng 04", "Tháng 05", "Tháng 06"];
      let yValues = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      drawBarsChartColor(xValues, yValues, "report-6-month-ago");
    } else {
      let xValues = [];
      let yValues = [];
      data.map(item => {
        xValues.push("Tháng " + item.month + "/" + item.year);
        yValues.push(item.totalAmount);
      });
      drawBarsChartColor(xValues, yValues, "report-6-month-ago");
    }
  }

  function drawBarsChart(xValues, yValues, nameChart) {
    let layout = {title: ""};

    let data = [{x: xValues, y: yValues, type: "bar"}];

    Plotly.newPlot(nameChart, data, layout);
  }

  function drawBarsChartColor(xValues, yValues, nameChart) {
    let layout = {title: ""};

    let data = [{x: xValues, y: yValues, type: "bar",marker: {color: "rgb(126,248,140)"}}];

    Plotly.newPlot(nameChart, data, layout);
  }


  page.commands.ShowReportDayToDay = () => {

    startDay = page.elements.dateStartReport.val();
    endDay = page.elements.dateEndReport.val();

    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json",
      },
      type: "GET",
      url: page.urls.getReportDayToDay + "/day/" + startDay + "/" + endDay
    })
            .done((data) => {
              page.commands.ShowReportDayToDayAction(data);
            })
            .fail((error) => {
              console.log(error);
            })
  }

  page.commands.ShowReportDayToDayAction = (data) => {
    if (data === undefined || data === null || data === "") {
      toastFail(`Không có dữ liệu`)
      let xValues = ["xx1", "xx2", "xx3", "xx4", "xx5"];
      let yValues = [0, 0, 0, 0, 0];
      drawPlotChart(xValues, yValues, "chartDayToDay");
    }
    else {
      let xValues = [];
      let yValues = [];
      data.map(item => {
        xValues.push(item.totalAmount);
        yValues.push(item.day + " ");
      });
      drawPlotChart(xValues, yValues, "chartDayToDay");
    }
  }

  function drawPlotChart(xArray, yArray, nameChart) {

    let data = [{
      x: xArray,
      y: yArray,
      type: "bar",
      orientation: "h",
      marker: {color: "rgba(255,0,0,0.5)"}
    }];

    let layout = {title: ""};

    Plotly.newPlot(nameChart, data, layout);
  }

  function padTo2Digits(num) {
    return num.toString().padStart(2, '0');
  }

  function formatDate(date = new Date()) {
    return [
      date.getFullYear(),
      padTo2Digits(date.getMonth() + 1),
      padTo2Digits(date.getDate() - 10),
    ].join('-');
  }

  function formatMonth(date = new Date()) {
    return [
      date.getFullYear(),
      padTo2Digits(date.getMonth() + 1)
    ].join('-');
  }

  page.commands.closeLoading = () => {
    page.elements.loader.addClass("hide");
  }

  page.commands.showLoading = () => {
    page.elements.loader.removeClass("hide");
  }

  page.commands.handleDefaultDay = () => {
    page.elements.monthCount.val(formatMonth());
    page.elements.monthTop5.val(formatMonth());
    page.elements.dateStartReport.val(formatDate());
    page.elements.dateEndReport.val(new Date().toISOString().split('T')[0]);
    page.elements.dateCount.val(new Date().toISOString().split('T')[0]);
  }

  page.commands.renderDataReport = () => {
    page.commands.renderReportOfDay();
    page.commands.renderReportMonth();
    // page.commands.renderTop5Product();
  }


  page.commands.loadData = () => {
    page.commands.handleDefaultDay();
    page.commands.firstRender();
  }

  page.initializeEventControl = () => {

    page.elements.yearReport.on("change", function () {
      page.commands.showReportByYear();
    });

    page.elements.inputDate.on('change', '.report-date', function () {
      page.commands.ShowReportDayToDay();
    })

    page.elements.dateCount.on("change", function () {
      page.commands.renderReportOfDay();
    });
    page.elements.monthCount.on("change", function () {
      page.commands.renderReportMonth();
    });

    page.elements.top5.on("change", '.top5', function () {
      page.commands.renderTop5Product();
    });
  }

  $(() => {
    page.commands.loadData();
    page.initializeEventControl();
  });

</script>

</body>

</html>
