<th:block th:fragment="navbar-search">
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar scrollButton searchDisable">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center" id="targetElement">
            <div class="input-group input-group-outline">
                <div class="navbar-nav align-items-center">
                    <form method="get" id="formSearch">
                        <div class="container-search d-flex">
                            <div class="d-flex "
                                 style="border: 1px solid lightgrey; border-radius: 25px">
                                <input type="search" id="keySearch" name="keySearch" placeholder="Search..."
                                       style="border: none" width="200px" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item d-flex align-items-center">
                <div class="dropdown">
                    <a href="#" class="nav-link text-body font-weight-bold px-0 dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user me-sm-1"></i>
                        <span class="d-sm-inline d-none" th:text="${userName}"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown" style="top: 0; right: 30px">
                        <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </li>
        </ul>


    </div>
</th:block>
